
<h1>Página del home</h1>

Listado de productos
<div>
{{#each payload}}
    <br></br>
    <li>Nombre del producto: {{this.title}}, precio: {{this.price}} <button onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button></li>
{{/each}}
</ul>
</div>
<br></br>
<a href="{{prevLink}}">Anterior</a>
<a href="{{nextLink}}">Siguiente</a>


<script src="/js/home.js"></script>